body {
  background-color: rgb(233, 255, 248);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin-top: 70px;
  margin-bottom: 100px;
  margin-right: 50px;
  margin-left: 100px;
}

p {
  text-align: left;
}

#namareporter {
  font-weight: bold;
  font-size: xx-small;
}

.publish {
  text-align: center;
  font-size: xx-small;
}

a:link {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
  color: blue;
  font-size: large;
}

a:visited {
  text-decoration: none;
  color: blue;
}

.agakmasuk {
  margin-left: 20px;
}

.gambar {
  border-radius: 20px;
  box-shadow: 10px 10px;
}
